<!DOCTYPE html>
<html lang="zh-CN">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/favicon.ico">
    <title>demo1</title>
    <script src="../angular/angular.js"></script>
</head>
<body ng-app="myApp">
<div class="container">
    <div ng-controller="CalcCtrl">
        <h2>价格计算器</h2>

        数量： <input  required ng-model="qty"><br/>
        价格： <input  required ng-model="cost">

        <p><b>总价：</b> <span ng-bind="qty * cost | currency"></span></p>
    </div>
    <script>
        var app = angular.module("myApp", []);
        app.controller("CalcCtrl", function ($scope) {
            $scope.qty = 1;
            $scope.cost = 19.95;
        });

    </script>


</div>



<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../js/jquery-2.1.3.min.js"></script>


</body>
</html>