<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>data binding</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css"/>
    <script type="text/javascript" src="../../angular/angular.js"></script>
</head>
<body>
<div ng-app="invoice1" ng-controller="InvoiceController as invoice">
    <h1 class="page-header"><b >Invoice:</b></h1>

    <div>
        Quantity: <input type="number" min="0" ng-model="invoice.qty" required>
    </div>
    <div>
        Costs: <input type="number" min="0" ng-model="invoice.cost" required>
        <select ng-model="invoice.inCurr">
            <option ng-repeat="c in invoice.currencies">{{c}}</option>
        </select>
    </div>
    <div>
        <b>Total:</b>
    <span ng-repeat="c in invoice.currencies">
      {{invoice.total(c) | currency:c}}
    </span>

        <input type="number" min="0" ng-model="invoice.all" required >
        <button class="btn" ng-click="invoice.pay()">Pay</button>
    </div>
</div>
<script>
    angular.module('invoice1',[])
            .controller('InvoiceController',InvoiceController);
    function InvoiceController() {
        this.qty = 1;
        this.cost = 2;
        this.all = this.qty * this.cost;
        this.inCurr = 'EUR';
        this.currencies = ['USD', 'EUR', 'CNY'];
        this.usdToForeignRates = {
            USD: 1,
            EUR: 0.74,
            CNY: 6.09
        };

        this.total = function total(outCurr) {
            return this.convertCurrency(this.qty * this.cost, this.inCurr, outCurr);
        };
        this.convertCurrency = function convertCurrency(amount, inCurr, outCurr) {
            return amount * this.usdToForeignRates[outCurr] / this.usdToForeignRates[inCurr];
        };
        this.pay = function pay() {
            window.alert("Thanks!");
        };
    }
</script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
</body>
</html>