<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>data bind myself</title>
</head>
<body onload="init()">
<button ng-click="inc1">
    increase 1
</button>
<button ng-click="inc2">
    increase 2
</button>
<span style="color:red" ng-bind="counter"></span>
<span style="color:blue" ng-bind="counter"></span>
<span style="color:green" ng-bind="counter"></span>

<script>
    /**数据模型区*/
    var counter = 0;

    function inc1() {
        counter++;
    }

    function inc2() {
        counter += 2;
    }


    /**bind*/
    function  init(){
        bind();
    }

    function bind() {
        var list = document.querySelectorAll("[ng-click]");
        for (var i=0; i<list.length; i++) {
            list[i].onclick = (function(index) {
                return function() {
                    window[list[index].getAttribute("ng-click")]();
                    apply();
                };
            })(i);
        }
    }

    function apply() {
        var list = document.querySelectorAll("[ng-bind='counter']");
        for (var i=0; i<list.length; i++) {
            list[i].innerHTML = counter;
        }
    }
</script>
</body>
</html>