<!doctype html>
<html ng-app="myApp">
<head>
    <title>ui-router</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <script src="../../angular/angular.js"></script>
    <!-- Include the ui-router script -->
    <script src="../../js/angular-ui-router.min.js"></script>
    <script src="../../js/angular-animate.min.js"></script>

    <style>
        .red {
            background-color: red;
        }

        .green {
            background-color: green;
        }

        .blue {
            background-color: blue;
        }
    </style>

</head>
<body>
<div class="container">
    <h3 class="page-header">ng switch</h3>

    <div ng-controller="MainCtrl">
        <div class="row">
            <h3>This is the header</h3>

        </div>
        <div class="row">
            <div class="small-4 columns">
                <ul>
                    <li ng-repeat="page in content"><a ng-click="setPage(page)">{{page.name}} Content</a>

                    </li>
                </ul>
            </div>
            <div class="small-8 columns content">
                <div ng-switch on="currentContent.name">
                    <div ng-switch-when="red" class="red">{{currentContent.content}}</div>
                    <div ng-switch-when="blue" class="blue">{{currentContent.content}}</div>
                    <div ng-switch-when="green" class="green">{{currentContent.content}}</div>
                    <div ng-switch-default>No Content!</div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- app script-->
<script>
    var myApp = angular.module('myApp', ['ui.router']);
    myApp.controller("MainCtrl", function ($scope) {
        $scope.content = [
            {
                name: 'red',
                content: 'This is the purple content'
            },
            {
                name: "blue",
                content: "This is the blue content"
            },
            {
                name: "green",
                content: "This is the green content"
            }
        ];

        $scope.currentContent = $scope.content[0];
        $scope.setPage = function (page) {
            $scope.currentContent = page;
        };

    });
</script>
</body>
</html>