<!DOCTYPE html>
<html lang="zh-CN">
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/favicon.ico">
    <script src="//www.w3cschool.cc/try/angularjs/1.2.5/angular.min.js"></script>
    <title>demo1</title>
</head>
<body>
<div class="container">

    <div ng-app="" ng-controller="DemoController" ng-init="name2='liming'">
        {{ name1 }}
        <input type="text" value="Lisa" ng-model="name2">


        <button ng-click="saveChange()">save value</button>
    </div>
    <script>
        function DemoController($scope) {
            $scope.name1 = 'LISA';

            $scope.$watch('name2', function () {
                console.log($scope.name2)
            })
            $scope.$watch(function (val) {
                if (val) {
                    //  console.log($scope.name2)
                }
            })
            //here how can i get the value of name2?
            //console.log($scope.name2)   //this does not work
        }
    </script>
</div>





<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../js/jquery-2.1.3.min.js"></script>


</body>
</html>