<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>directive</title>
    <style>
        input.ng-invalid {
            border: 1px solid red;
        }

        input.ng-valid {
            border: 1px solid green;
        }
    </style>
</head>
<body ng-app="myAPP">

<h3>自定义标签</h3>

<div my-directive></div>
<my-directive></my-directive>
<div class="my-directive"></div>

<h3>ng-click</h3>

<div ng-controller="SomeController">
    {{ someModel.someValue }}
    <button ng-click="someAction()">Communicate to child</button>
    <div ng-controller="ChildController">
        {{ someModel.someValue }}
        <button ng-click="childAction()">Communicate to parent</button>
    </div>
</div>

<h3>ng-change</h3>

<div ng-controller="EquationController">
    <input type="text" ng-model="equation.x"
           ng-change="change()"/>
    <h4>{{ equation.output }}</h4>
</div>

<h3>ng-submit</h3>

<form name="signup_form"
      ng-controller="FormController"
      ng-submit="submitForm()" novalidate>
    <div ng-repeat="field in fields"
         ng-form="signup_form_input">
        <input type="text"
               name="dynamic_input"
               ng-required="field.isRequired"
               ng-model="field.name"
               placeholder="{{field.placeholder}}"/>

        <div
                ng-show="signup_form_input.dynamic_input.$dirty &&
            signup_form_input.dynamic_input.$invalid">
            <span class="error"
                  ng-show="signup_form_input.dynamic_input.$error.required">
                                    The field is required.
            </span>
        </div>
    </div>
    <button type="submit"
            ng-disabled="signup_form.$invalid">
        Submit All
    </button>
</form>

<h3>ng-click</h3>

<div
        ng-init="someProperty = 'some data'"></div>
<div ng-init="siblingProperty='moredata'">
    Inside Div Two: {{ aThirdProperty }}
    <div ng-init="aThirdProperty = 'data for 3rd property'"
         ng-controller="SomeController1">
        Inside Div Three: {{ aThirdProperty }}
        <div ng-controller="SecondController">
            Inside Div Four: {{ aThirdProperty }}
        </div>
    </div>
</div>

<h3>scope1</h3>

<div ng-controller='MainController'>
    Outside myDirective: {{ myProperty }}
    <div my-directive1 ng-init="myProperty = 'wow, this is cool'">
        Inside myDirective: {{ myProperty }}
    </div>
</div>

<h3>scope2</h3>

<div ng-init="myProperty='wow,this is cool'">
    Surrounding scope: {{ myProperty }}
    <div my-inherit-scope-directive></div>
    <div my-directive2></div>
</div>

<h3>conttollerAS</h3>

<div my-directive3></div>


<script src="../angular/angular.js"></script>
<script src="directive.js"></script>

<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../js/jquery-2.1.3.min.js"></script>


</body>
</html>