<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>重量换算</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <script type="text/javascript" src="../angular/angular.js"></script>
</head>
<body>
<div class="container-fluid">
    <div ng-app="invoice1" ng-controller="InvoiceController as invoice">
        <h3 class="page-header">重量换算表</h3>
        <table class="table table-bordered ">
            <caption>重量换算单位</caption>
            <tbody>
            <tr>
                <th>中文</th>
                <td>吨</td>
                <td>千克</td>
                <td>克</td>
                <td>磅</td>
                <td>盎司</td>
                <td>克拉</td>
            </tr>
            <tr>
                <th>英文</th>
                <td>t</td>
                <td>kg</td>
                <td>g</td>
                <td>lb</td>
                <td>oz</td>
                <td>ct</td>
            </tr>
            </tbody>

        </table>
        <form class="form-inline">
            <div class="form-group">
                <label >面积：</label>
                <input type="number" class="form-control" min="0" ng-model="invoice.length" required >

            </div>
            <div class="form-group">
                <label >选择单位</label>
                <select ng-model="invoice.unit" class="form-control">
                    <option ng-repeat="c in invoice.units">{{c}}</option>
                </select>
            </div>
        </form>
        <div>
            <b>结果:</b>
            <table class="table table-bordered " >
                <tr ng-repeat="c in invoice.units">
                    <td>{{ invoice.total(c) | number:4 }}</td>
                    <td> {{ c }}</td>
                </tr>
            </table>
        </div>
    </div>
    <script>
        angular.module('invoice1',[])
                .controller('InvoiceController',InvoiceController);
        function InvoiceController() {
            this.length = 1;
            this.unit = '吨';
            this.units = ['吨', '千克', '克','磅','盎司','克拉'];
            this.rates = {
                吨: 1,
                千克: 1000,
                克: 1000000,
                磅:2204.6226218,
                盎司:35273.9619496 ,
                克拉:5000000
            };

            this.total = function total(outUnit) {
                return this.convertUnit(this.length, this.unit, outUnit);
            };
            this.convertUnit = function convertUnit(amount, inUnit, outUnit) {
                return amount * this.rates[outUnit] / this.rates[inUnit];
            };
        }
    </script>



</div>


<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/jquery-2.1.3.min.js"></script>
</body>
</html>